<!-- case-section -->
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = ProductCataLog.Web.Common.Common.AppName;
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<!-- sidebar-page-container -->
<section class="sidebar-page-container blog-list-two product-list-52">
    <div class="container-fluid px-5 ">
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side ">
                <div class="default-sidebar blog-sidebar">

                    <div class="sidebar-widget category-widget">

                        <div class="widget-content">



                            <section class="checkout-page-section p-0">


                                <div class="payment-method">

                                    <ul class="accordion-box">
                                        <li class="accordion block active-block">
                                            <div class="acc-btn active">
                                                <div class="icon-outer"><i class="fa-solid fa-angle-down"></i></div>
                                                <h4>CASTOR PRODUCT</h4>
                                            </div>
                                            <div class="acc-content current" style="display: block;">
                                                <div class="payment-info">
                                                    <div class="category-widget">
                                                        <h3>OILS</h3>
                                                        <ul class="category-list clearfix mb-3">
                                                            <li><a href="#" class="current">FSG</a></li>
                                                            <li><a href="#">PPG</a></li>
                                                            <li><a href="#">Cold Frmal</a></li>
                                                            <li><a href="#">Communial gado</a></li>
                                                        </ul>
                                                        <h3>CAKES</h3>
                                                        <ul class="category-list clearfix mb-3">
                                                            <li><a href="#" class="current">Castor Seed Meal (H.P)</a></li>
                                                            <li><a href="#" class="current">Castor Seed Meal (Standard)</a></li>
                                                        </ul>
                                                        <h3>DERIVATIVES</h3>
                                                        <ul class="category-list clearfix">
                                                            <li><a href="#" class="current">HCO</a></li>
                                                            <li><a href="#" class="current">12HSA</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="accordion block">
                                            <div class="acc-btn">
                                                <div class="icon-outer"><i class="fa-solid fa-angle-down"></i></div>
                                                <h4>PETROCHEMICALS</h4>
                                            </div>
                                            <div class="acc-content" style="display: none;">
                                                <div class="payment-info">
                                                    <div class="category-widget">
                                                        <h3>OILS</h3>
                                                        <ul class="category-list clearfix mb-3">
                                                            <li><a href="#" class="current">FSG</a></li>
                                                            <li><a href="#">PPG</a></li>
                                                            <li><a href="#">Cold Frmal</a></li>
                                                            <li><a href="#">Communial gado</a></li>
                                                        </ul>
                                                        <h3>CAKES</h3>
                                                        <ul class="category-list clearfix mb-3">
                                                            <li><a href="#" class="current">Castor Seed Meal (H.P)</a></li>
                                                            <li><a href="#" class="current">Castor Seed Meal (Standard)</a></li>
                                                        </ul>
                                                        <h3>DERIVATIVES</h3>
                                                        <ul class="category-list clearfix">
                                                            <li><a href="#" class="current">HCO</a></li>
                                                            <li><a href="#" class="current">12HSA</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="accordion block">
                                            <div class="acc-btn">
                                                <div class="icon-outer"><i class="fa-solid fa-angle-down"></i></div>
                                                <h4>ROCKS AWO MENAVS</h4>
                                            </div>
                                            <div class="acc-content" style="display: none;">
                                                <div class="payment-info">
                                                    <div class="category-widget">
                                                        <h3>OILS</h3>
                                                        <ul class="category-list clearfix mb-3">
                                                            <li><a href="#" class="current">FSG</a></li>
                                                            <li><a href="#">PPG</a></li>
                                                            <li><a href="#">Cold Frmal</a></li>
                                                            <li><a href="#">Communial gado</a></li>
                                                        </ul>
                                                        <h3>CAKES</h3>
                                                        <ul class="category-list clearfix mb-3">
                                                            <li><a href="#" class="current">Castor Seed Meal (H.P)</a></li>
                                                            <li><a href="#" class="current">Castor Seed Meal (Standard)</a></li>
                                                        </ul>
                                                        <h3>DERIVATIVES</h3>
                                                        <ul class="category-list clearfix">
                                                            <li><a href="#" class="current">HCO</a></li>
                                                            <li><a href="#" class="current">12HSA</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="accordion block">
                                            <div class="acc-btn">
                                                <div class="icon-outer"><i class="fa-solid fa-angle-down"></i></div>
                                                <h4>AGRO</h4>
                                            </div>
                                            <div class="acc-content" style="">
                                                <div class="payment-info">
                                                    <div class="category-widget">
                                                        <h3>OILS</h3>
                                                        <ul class="category-list clearfix mb-3">
                                                            <li><a href="#" class="current">FSG</a></li>
                                                            <li><a href="#">PPG</a></li>
                                                            <li><a href="#">Cold Frmal</a></li>
                                                            <li><a href="#">Communial gado</a></li>
                                                        </ul>
                                                        <h3>CAKES</h3>
                                                        <ul class="category-list clearfix mb-3">
                                                            <li><a href="#" class="current">Castor Seed Meal (H.P)</a></li>
                                                            <li><a href="#" class="current">Castor Seed Meal (Standard)</a></li>
                                                        </ul>
                                                        <h3>DERIVATIVES</h3>
                                                        <ul class="category-list clearfix">
                                                            <li><a href="#" class="current">HCO</a></li>
                                                            <li><a href="#" class="current">12HSA</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                        </div>
                    </div>

                    <div class="shop-details">
                        <div class="product-discription">
                            <div class="comment-box">
                                <h2>Product Inquiry</h2>

                                <form action="shop-details.html" method="post">
                                    <div class="row clearfix">

                                        <div class="col-lg-12 col-md-6 col-sm-12 column">
                                            <div class="form-group">
                                                <input type="text" name="name" placeholder="Name*" required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-6 col-sm-12 column">
                                            <div class="form-group">
                                                <input type="email" name="email" placeholder="Email*" required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 column">
                                            <div class="form-group">
                                                <input type="text" name="website" placeholder="Website" required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 column">
                                            <div class="form-group">
                                                <textarea name="message" placeholder="Comments" spellcheck="false"></textarea><grammarly-extension data-grammarly-shadow-root="true" style="position: absolute; top: 0px; left: 0px; pointer-events: none; z-index: auto;" class="dnXmp"></grammarly-extension><grammarly-extension data-grammarly-shadow-root="true" style="position: absolute; top: 0px; left: 0px; pointer-events: none; z-index: auto;" class="dnXmp"></grammarly-extension>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 column">
                                            <div class="form-group">
                                                <div class="custom-controls-stacked">
                                                    <label class="custom-control material-checkbox">
                                                        <input type="checkbox" class="material-control-input">
                                                        <span class="material-control-indicator"></span>
                                                        <span class="description">Save my name, email, and website in this browser for the next time I comment.</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12 column">
                                            <div class="form-group message-btn">
                                                <div class="message-btn">
                                                    <button type="submit" class="theme-btn btn-two"><span>Submit Now</span></button>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="g-recaptcha" id="rcaptcha" data-sitekey="site key"></div>
                                        <span id="captcha" style="color:red" /></span>





                                    </div>
                                </form>
                            </div>
                        </div>


                    </div>













                </div>
            </div>



            <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                <div class="blog-list-content">

                    <div class="news-block-one">

                        <div class="inner-box">
                            <div class="lower-content pt-0">

                                <h3><a href="blog-details.html">FIRST SPECIAL GRADE</a></h3>

                            </div>
                            <div class="row">

                                <div class="col-auto">
                                    <div class="image-box product-img">
                                        <figure class="image">
                                            <a href="blog-details.html">
                                                <img src="assets/images/products/Refined-castor-oil.jpg" alt="">
                                            </a>
                                        </figure>

                                    </div>
                                </div>
                                <div class="col">
                                    <div class="cart-outer">
                                        <h4 class="mb-3"> Physical, Chemical Properties and Specifications:</h4>
                                        <div class="table-outer">
                                            <table class="cart-table">

                                                <tbody>
                                                    <tr>
                                                        <td class="sub-total">Appearance</td>
                                                        <td class="sub-total">Clear And Free Form Suspended Matter.</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="sub-total">F.F.A (as oleic)	</td>
                                                        <td class="sub-total">
                                                            1.0O% Max.
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="sub-total">Acid Value	</td>
                                                        <td class="sub-total">
                                                            2%Max
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="sub-total">Moisture, impurities & Volatile Matter</td>
                                                        <td class="sub-total">
                                                            0.25% Max
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="sub-total">LoviBond Scale	</td>
                                                        <td class="sub-total">
                                                            2 Red 20 Yellow
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="sub-total">Insoluble Impurities	</td>
                                                        <td class="sub-total">
                                                            o.o2%
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="sub-total">Odour</td>
                                                        <td class="sub-total">
                                                            Slight Characteristics
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="sub-total">Hydroxyl Value	</td>
                                                        <td class="sub-total">
                                                            160-168
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="sub-total">Iodine Value</td>
                                                        <td class="sub-total">82-90</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="sub-total">Recinoleic Acid Content</td>
                                                        <td class="sub-total">Minimum 85%</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="lower-content">

                        <p>Castor oil FSG is produced by refining commercial grade castor oil using bleaching and filtering processes. It is also called</p>
                        <h5 class="">Applications :</h5>

                    </div>

                    <div class="blog-details-content">
                        <div class="content-three">
                            <ul class="list-item clearfix">
                                <li> It is used as a key component in the pharmaceutical and cosmetic formulations</li>
                                <li>As a transducer fluid in sonar</li>
                                <li>As a dielectric material in electrical condensers</li>
                                <li>An integral component in coatings of vitamin and mineral tablets to serve as a lubricant</li>
                                <li>As a raw material for the production of value added derivatives from castor oil</li>
                                <li>Used in the manufacture of polyurethane casting resins</li>
                                <li>Reacts with styrene and diisocyanates to produce polymers and varnish components</li>
                                <li>In hydraulic fluids for automobiles, trucks and machinery</li>
                                <li>As Capacitor impregnate</li>
                                <li>As an ingredient for petroleum oil-field de-emulsification</li>

                            </ul>
                        </div>
                    </div>
                </div>





                <section class="project-style-two">
                    <div class="auto-container">
                        <div class="content-box">
                            <div class="title-box">
                                <h5>Packing</h5>
                            </div>
                            <div class="project-carousel owl-carousel owl-theme owl-dots-none">
                                <div class="project-block-two">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="assets/images/project/project-1.jpg" alt=""></figure>
                                            <div class="btn-box">
                                                <a href="project-details.html">More Details<i class="flaticon-diagonal-arrow"></i></a>
                                            </div>
                                            <div class="view-btn"><a href="assets/images/project/project-1.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-zoom-in"></i></a></div>
                                        </div>
                                        <div class="lower-content">
                                            <h3><a href="project-details.html">Bulk</a></h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-block-two">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="assets/images/project/project-2.jpg" alt=""></figure>
                                            <div class="btn-box">
                                                <a href="project-details.html">More Details<i class="flaticon-diagonal-arrow"></i></a>
                                            </div>
                                            <div class="view-btn"><a href="assets/images/project/project-2.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-zoom-in"></i></a></div>
                                        </div>
                                        <div class="lower-content">
                                            <h3><a href="project-details.html">Flexis</a></h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-block-two">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="assets/images/project/project-3.jpg" alt=""></figure>
                                            <div class="btn-box">
                                                <a href="project-details.html">More Details<i class="flaticon-diagonal-arrow"></i></a>
                                            </div>
                                            <div class="view-btn"><a href="assets/images/project/project-3.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-zoom-in"></i></a></div>
                                        </div>
                                        <div class="lower-content">
                                            <h3><a href="project-details.html"> ISO tanks</a></h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-block-two">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="assets/images/project/project-3.jpg" alt=""></figure>
                                            <div class="btn-box">
                                                <a href="project-details.html">More Details<i class="flaticon-diagonal-arrow"></i></a>
                                            </div>
                                            <div class="view-btn"><a href="assets/images/project/project-3.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-zoom-in"></i></a></div>
                                        </div>
                                        <div class="lower-content">
                                            <h3><a href="project-details.html"> M.S.Drums/HDPE Drums with or without Pallet</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>




            </div>




        </div>
    </div>
</section>