@using DevExtreme.AspNet.Mvc
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ProductCataLog.Lib.ViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = string.Format(Drishanindustries.Common.Common.PageName, Drishanindustries.Common.Common.AppName, "Change Password");
}
<div class="container-fluid" id="container-wrapper">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Change Password</h6>
                </div>
                <div class="card-body">
                    <form class="user" asp-controller="Account" asp-action="ChangePassword" method="post" id="frmChangePassword" novalidate>
                        @* <form class="needs-validation" method="post" id="frmUsers" novalidate> *@
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label"><span class="red">*</span>User Name:</label>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-form-label" style="font-weight:bold">@Model.UserName</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label"><span class="red">*</span>Old Password:</label>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input type="password" tabindex="2" class="form-control" id="txtOldPassword" asp-for="Password" placeholder="Old Password">
                                </div>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label"><span class="red">*</span>New Password:</label>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input type="password" tabindex="2" class="form-control" id="txtNewPassword" asp-for="NewPassword" placeholder="New Password">
                                </div>
                            </div>

                        </div>
                        <div class="form-group mb-0">
                            <button type="button" id="btnSubmit" tabindex="7" class="btn btn-primary" onclick="return ValidateData()">Save</button>
                            <button type="button" id="btnCancel" tabindex="8" class="btn btn-secondary" onclick="return resetValidation()">Cancel</button>
                        </div>
                        <input type="hidden" asp-for="intGlCode" id="intGlCode" />
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<br />
@Html.AntiForgeryToken()
@section Scripts {
    <script src="~/Scripts/Account/ChangePassword.js"></script>
    <script src="~/Scripts/Account/Common.js"></script>
}
